* {
    box-sizing: border-box;
    margin: 0;
}

/* Header */
.img-superiore {
    background-color: rgb(102, 102, 245);
    background-image: url(../img/pattern.png);
    height: 20vh;
    position: relative;
}

.logo {
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
}


/* body */

main {
    margin: 0 20px;
}

.titolo {
    margin: 20px 0;
}

.titolo > h1 {
    font-size: 65px;
}

.titolo > p {
    color: gray;
}

figcaption {
    font-size: 10px;
}

main > p {
    margin: 20px 0;
}

ul {
    margin: 20px 0;
    padding: 20px;
}

thead {
    color: white;
    background-color: blue;
}

table {
    border-spacing: 0;
}
tr {
    text-align: left;
}

.casella1 {
    width: 25%;
}
 .casella3 {
    width: 50%;
 }

 .row {
    background-color: lightblue;
 }

.center {
    background-color: white;
}

/* Footer */

footer {
    margin: 0 20px;
}

footer > p {
    color: gray;
}


.foto1 {
    background-image: url(../img/monitor.jpg);
    height: 208px;
    width: 312px;
    margin: 20px 0;
}

.foto2 {
    background-image: url(../img/graph.jpg);
    height: 208px;
    width: 312px;
}

.scritta-foto {
    color: white;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 10px;
}
