* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: blueviolet;
    background-image: url(../img/pattern.png);
    height: 20vh;
    margin: 0;
    position: relative;
}

.logo {
    height: 50%;
    margin-left: 10%;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* MAIN */

main {
    margin: 0 10%;
}

.titolo {
    font-size: 50px;
    margin-top: 2%;
}

.dati {
    color: gray;
    font-size: 15px;
    margin-bottom: 2%;
}

figcaption {
    font-size: 10px;
}

.paragrafo1 {
    margin: 2% 0;
}

/* Lista */

ul {
    margin-left: 20px;
    margin-bottom: 2%;
}

/* Tabella o no tabella? */





.casella {
    display: inline-block;
    width: 20%;
    text-align: left;
}

.ultima {
    width: 50%;
}

.riga-testa {
    background-color: rgb(125, 94, 234);
    color: white;
}

.riga-dispari{
    background-color: lightblue;
}

/* FOOTER */
footer {
    margin: 0 10%;
}

footer > p {
    color: gray;
    margin-bottom: 2%;
}

.immagine1 {
    background-image: url(../img/graph.jpg);
    background-size: contain;
    height: 150px;
    width: 200px;
    background-repeat: no-repeat;
}

.immagine2 {
    background-image: url(../img/monitor.jpg);
    background-size: contain;
    height: 150px;
    width: 200px;
    background-repeat: no-repeat;
}

footer > div {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-top: 2%;
    padding-left: 2%;
}